.searchBox {
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: auto;
  border-right: solid 1px #091e4240;
  border-bottom: solid 1px #091e4240;

  width: 450px;
  height: calc(100vh - 80px);
}
