.contentBox {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-y: scroll;
  border: solid 1px darkblue;
  width: 400px;
  max-height: 100%;
}

.contentItem {
  border: solid 1px black;
  background-color: aliceblue;
  text-align: center;
  width: 370px;
  height: 150px;
  margin-bottom: 10px;
}
