.search form {
  display: flex;
  align-items: center;
}

.searchInput {
  font-size: 20px;
  line-height: 20px;
  width: 300px;
  height: 40px;
  border: 2px solid rgb(80, 153, 107);

  /* border: 2px solid rgb(173, 200, 157); */
  padding: 10px;
}

.searchInput:focus {
  border: 2px solid rgb(80, 153, 107);
}

.selectBox {
  border-top: 2px solid rgb(80, 153, 107);
  border-bottom: 2px solid rgb(80, 153, 107);
  border-left: 2px solid rgb(80, 153, 107);

  display: flex;
  height: 40px;
}

.select {
  border: none;
}

.select option {
  background: black;
  color: #fff;
  padding: 3px 0;
}
